/* reset */

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
  padding: 2px;
}
a:hover {
  color: white;
}

/* body */
body {
  background-color: #282C2E;
  font-family: 'Roboto', sans-serif;
  color:#6D757C;
  height: auto;
}


/* header: logo, search bar, upload */
header {
    background-color: white;
    width: 100%;
    height: 70px;
    margin-top: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
  }

/* youtube logo */
.yt-logo {
    width: 100px;
    min-height: 70px;
    text-align: center;
    box-sizing:content-box;
    float: left;
  }

.upload {
    display: inline-block;
    float: right;
    width: 120px;
    height: 70px;
    background-color: red;
    color: white;
    margin: 0;
    padding-top: 25px;
    text-align: center;
}


#searchbar {
    width: 50%;
    height: auto;
    text-align: center;

  }


/* left column and right column */
.main {
margin-top: 0;
}

/* left */
.left {
  position: relative;
  margin: 110px 0 0 30px;
  float:left;
  width:20%;
  text-align:left;
  line-height: 2.5em;
}

.links {

}


h4 {
  display: inline-block;
margin: 0;
}

.right {
  position: relative;
  margin-top: 90px;
  float:left;
  width:60%;
  padding:0 20px 0 20px;
}

.video {
  background-color: #1D2022;
  background-image: url();
  width: 100%;
  padding: 60px 0 60px 0;
  margin: 0;
}

.wingsuit {
  width: 60%;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.title {
  background-color: #2B3134;
  padding: .5em;
  margin: 0;
}

.user-actions {
  padding: 3px;
  margin: 0;
  border: .02px solid;
  border-color: #2B3134;
}

 .user-actions > li {
    display: inline-block;
    margin: 1em 1em 1em 1em;
}

.comments {
  background-color: white;
  display: inline-block;
  padding: 0 4em 0 4em;
}

h5 {
  display: inline-block;
  margin: 0 auto;
  float: left;
}

.avatar {
   float: left;
   width: 9%;
   height: 9%;
   min-height: 50px;
   min-width: 50px;
}

/* footer */

footer {
  position: fixed;
  margin-left: 0;
  bottom: 0;
  height: 6px;
  width: 100%;
  background-color: red;

}


/* media query */
/* Use a media query to add a break point at 800px: */
@media screen and (min-width:350px , max-width:768px) {
  .header .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

  /* header */

  /* .guide */

  /* .subscriptions */

  /* .right */

  /* .video */

  /* .title */

  /* .icons */

  /* .comments */
